.main__case {
  width: 87%;
  margin: 0 auto;
  margin-top: 91px;
  &-text {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 30px;
      font-weight: 500;
      line-height: 135%;
      letter-spacing: 0.5px;
      margin-bottom: 30px;
    }
    div {
      margin-bottom: 50px;
      button {
        @include btn();
        width: 130px;
        height: 30px;
      }
    }
    p {
      display: flex;
      i {
        width: 50px;
        height: 50px;
        background-color: orangered;
        display: flex;
        color: #fff;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        &:nth-child(1) {
          margin-right: 20px;
        }
      }
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
  }
  &-infotext {
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 215%;
      letter-spacing: 0.5px;
    }
  }
}

@media screen and (max-width: 760px) {
  .main__case {
    &-text {
      h2 {
        font-size: 24px;
      }
      div {
        button {
          width: 112px;
          height: 25px;
        }
      }
      p {
        i {
          width: 40px;
          height: 40px;
        }
      }
    }
    &-infotext {
      p {
        font-size: 13px;
      }
    }
    &-infoimg {
      img {
        width: 350px;
        height: 367px;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .main__case {
    &-info {
      .hide {
        display: none;
      }
    }
    &-infoimg {
      img {
        width: 465px;
        height: 370px;
      }
    }
  }
}
