.main__presentation {
  width: 100%;
  &-wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  &-text {
    width: 50%;
    background: var(--dark-grey, #101d23);
    h2 {
      color: #fff;
      display: flex;
      justify-content: start;
      padding-left: 10%;
      align-items: center;
      height: 100%;
      font-size: 30px;
      font-weight: 500;
      line-height: 125%;
      letter-spacing: 0.5px;
    }
  }
  &-example {
    background-color: orangered;
    color: #fff;
    display: flex;
    width: 50%;
    padding-right: 6%;
    padding-left: 6%;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      padding: 44px 15px;
      img {
        padding-right: 15px;
      }
      span {
        font-size: 18px;
        font-weight: 500;
        line-height: 125%;
        letter-spacing: 0.5px;
      }
    }
  }
}


@media screen and (max-width:760px) {
    .main__presentation {
        width: 100%;
        &-wrapper {
            width: 100%;
        }
        &-text {
            h2 {
                font-size: 24px;
            }
        }
        &-example {
            span {
                font-size: 13px;
            }
            img{
                width: 40px;
                height: 45px;
                margin-top: 15px;
            }
        }
    }
}
@media screen and (max-width:540px) {
    .main__presentation {
        &-wrapper {
            flex-direction: column;
        }
        &-text {
            width: 100%;
        }
        &-example {
            width: 100%;
        }
    }
}